* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: calc(0.4vh);
    --buttonColor: #9BB8ED;
    --background1: #A39FE1;
    --background2: #DEB3E0;
    --background3: #FEC6DF;
    --light-pink: #FFDDE4;
    --text2: #FEECD6;
    --border: #F5F5F7;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 15% 50% 15% 10%;
    background: var(--light-pink);
}

nav {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 3% 77% 10% 10%;
    grid-template-columns: 1fr;
    background-color: var(--background3);
}

#twitter-logo {
    width: 15rem;
    height: 15rem;
    margin-left: 10rem;
}

#functionality-links {
    font-size: 7rem;
    list-style: none;
    background-color: var(--background3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#functionality-links li a {
    text-decoration: none;
    color: var(--background1);
}

#post-button {
    width: 80%;
    height: 70%;
    background-color: var(--buttonColor);
    border: 2px solid var(--buttonColor);
    border-radius: 10rem;
    margin: 0 auto;
    font-size: 10rem;
    color: var(--text2);
}

#profile-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
}

#profile-link {
    font-size: 10rem;
    text-decoration: none;
    color: var(--text2);
}

main {
    grid-column: 3/4;
    background-color: var(--background2);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    position: relative;

    border: 0.5rem solid var(--border);
}

header {
    height: 15rem;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 0.5rem solid var(--border);
}

header button {
    height: 100%;
    width: 50%;
    background-color: var(--background2);
    border: 2px solid var(--background2);
    font-size: 10rem;
    color: var(--border);
}

#post-compose {
    background-color: var(--background2);
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 5rem 5rem;
    align-items: center;
    border-bottom: 0.5rem solid var(--border);
}

#compose-input {
    width: 170rem;
    height: 30rem;
    font-size: 10rem;
    background-color: var(--background2);
    border: none;
    outline: none;
}

#compose-post-btn {
    margin-left: auto;
    width: 35rem;
    height: 15rem;
    border-radius: 10rem;
    background-color: var(--buttonColor); 
    border: none;
    font-size: 10rem;
    color: var(--border);
}

aside {
    grid-column: 4/5;
    background-color: var(--background3);
    display: grid;
    grid-template-rows: 7% 58% 35%;
    grid-template-columns: 1fr;
    align-items: start;
    padding: 3rem 3rem;
}   

.sidebar-icons {
    width: 10rem;
    height: 10rem;
}

#search-input {
    height: 10rem;
    width: 60rem;
    border-radius: 10rem;
    border: 0.5rem solid var(--border);
    font-size: 10rem;
    padding: 5rem 5rem;
    border: 0.5rem solid var(--border);
}

#explore {
    border-radius: 10rem;
    background-color: var(--background3);
    height: 100%;
    width: 100%;
    border: 0.5rem solid var(--border);
    padding: 3rem 3rem;
}

#explore h2 {
    font-size: 5rem;
    color: var(--background1);
}

#who-to-follow {
    border-radius: 10rem;
    background-color: var(--background3);
    margin-top: 10%;
    height: 90%;
    width: 100%;
    border: 0.5rem solid var(--border);
    padding: 3rem 3rem;
}

#who-to-follow h2 {
    font-size: 5rem;
    color: var(--background1);
}
