* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-size: calc(0.4vh);
    --black: rgb(0,0,0);
    --white: rgb(255,255,255);
    --blue: rgb(74,153,233);
    --gray: rgb(100,100,100);
    --darkGray: rgb(33,33,33);
    --lightGray: rgb(169,169,169);
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 15% 50% 15% 10%;
    background: var(--black);
}

nav {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 3% 77% 10% 10%;
    grid-template-columns: 1fr;
    background-color: var(--black);
    justify-items: start;
}

#twitter-logo {
    width: 10rem;
    height: 10rem;
    margin-left: 10rem;
}

#functionality-links {
    font-size: 6rem;
    list-style: none;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
}

#functionality-links li a {
    text-decoration: none;
    color: var(--white);
}

#post-button {
    width: 80%;
    height: 70%;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 10rem;
    margin: 0 auto;
    font-size: 10rem;
    color: var(--white);
}

#profile-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    align-items: center;
}

.profile-pic {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
}

#profile-link {
    font-size: 10rem;
    text-decoration: none;
    color: var(--white);
}

main {
    grid-column: 3/4;
    background-color: var(--black);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    position: relative;
    border: 0.5rem solid var(--darkGray);
}

header {
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 0.5rem solid var(--darkGray);
}

header button {
    height: 100%;
    width: 50%;
    background-color: var(--black);
    border: 2px solid var(--black);
    font-size: 10rem;
    color: var(--darkGray);
}

#post-compose {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 5rem 5rem;
    align-items: center;
    border-bottom: 0.5rem solid var(--darkGray);
}

#compose-input {
    width: 170rem;
    height: 30rem;
    font-size: 10rem;
    background-color: var(--black);
    border: none;
    outline: none;
    color: var(--white);
}

#compose-post-btn {
    margin-left: auto;
    width: 35rem;
    height: 15rem;
    border-radius: 10rem;
    background-color: var(--blue);
    border: none;
    font-size: 10rem;
    color: var(--white);
}

aside {
    grid-column: 4/5;
    background-color: var(--black);
    display: grid;
    grid-template-rows: 7% 58% 35%;
    grid-template-columns: 1fr;
    align-items: start;
    padding: 3rem 3rem;
}   

.sidebar-icons {
    width: 10rem;
    height: 10rem;
}

#search-input {
    height: 10rem;
    width: 60rem;
    border-radius: 10rem;
    border: 0.5rem solid var(--darkGray);
    font-size: 10rem;
    padding: 5rem 5rem;
    border: 0.5rem solid var(--darkGray);
}

#explore {
    border-radius: 10rem;
    background-color: var(--black);
    height: 100%;
    width: 100%;
    border: 0.5rem solid var(--darkGray);
    padding: 3rem 3rem;
}

#explore h2 {
    font-size: 5rem;
    color: var(--white);
}

#who-to-follow {
    border-radius: 10rem;
    background-color: var(--black);
    margin-top: 10%;
    height: 90%;
    width: 100%;
    border: 0.5rem solid var(--darkGray);
    padding: 3rem 3rem;
}

#who-to-follow h2 {
    font-size: 5rem;
    color: var(--white);
}
