.post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.post-profile-pic {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 10rem;
    margin: 10px;
}

.postBody{
    height: 100%;
    width: 90%;
}


.postTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    margin: 0px;
    margin-bottom: 5px;
}


.post-name-date{
    display:flex;
    flex-direction: row;
    color: gray;
    gap: 10px;
}
.postName{
    color: white;
}
.post-dot{
    color: gray;
    margin-left: auto;
    padding-right: 20px;
    font-size: 0.6rem;
}

.postDate p{
    font-size: 1.5rem;
}

.postMiddle{
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.postText{
    margin: 0;
}

.postBottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.postOptionData{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38.85vw;
    margin: 0;
    padding: 0;
}

.postOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.AdditionalPostOptions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    margin: 0px;
}

.postButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    margin: 0px;
    padding: 5px;
    border-radius: 100px;
    transition: 0.2s;
}

.postButton:hover{
    background-color: var(--darkGray);
}

.textIcon{
    width: 15px;
    height: 15px;
}

.postIcon{
    width: 18px;
    height: 18px;
}

.commentButton:hover{
    color: var(--blue);
}

.repostButton:hover{
    color: var(--green);
}

.likeIcon:hover{
    color: var(--pink);
}

.viewIcon:hover{
    color: var(--blue);
}

